*, ::after, ::before {
	padding: 0;
	margin: 0;
	font-size: 100%;
	box-sizing: border-box;
}

body {
	font-family: Verdana, Helvetica, Tahoma, Arial, sans-serif;
	font-size: 10px;
    background-color: #111;
	color: #fff;
	text-shadow: 0 1px 0 #000;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	text-decoration-color: #fff;
}

ul {
	list-style: none;
}

p {
	margin-top: 4px;
	margin-bottom: 4px;
	font-size: inherit;
}

.site-body {
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-top: 6px;
	gap: 6px;
}

.box {
	background-color: #2D2D2D;
	border: 1px solid #000;
	color: #fff;
}

.box-title {
	border-bottom: 1px solid #000;
	background-color: #212121;
	font-size: 17px;
	padding: 4px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 600;
	gap: 4px;
}

.box-title .btn {
	font-size: 10px;
	font-weight: 500;
}

h3.box-title {
	font-size: 10px;
	padding: 6px 4px;
}

.header {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	font-weight: 600;
	color: #fff;
}

.header-banner {
	display: flex;
	flex-direction: row;
	justify-content: right;
	height: 66px;
	background-image: url('/img/banners/titan.png');
	background-repeat: no-repeat;
	background-color: #000;
	background-size: cover;
    background-position: center;
}


.header-banner-content {
	width: 160px;
	background-color: #1E1E1E;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-left: 1px solid #000;
	gap: 2px;
}

hr {
	margin-top: 5px;
	margin-bottom: 5px;
	border-top: 1px solid #212121;
	border-bottom: 0px;
	border-left: none;
	border-right: none;
}

.emblem-game {
	width: 100%;
}

.header-transparent .header-banner-content {
	background-color: transparent;
	border: 0;
}

.header-bar {
	padding: 4px;
	font-weight: 600;
	display: flex;
	justify-content: space-between;
	background-color: #2D2D2D;
}

.alert {
	padding: 4px;
	display: flex;
	justify-content: space-between;
	background-color: #2D2D2D;
}

.alert-success {
	background-color: #40741e;
}

.alert-error {
	background-color: #74211e;
}

.logo {
	width: 131px;
	height: 27px;
	background-image: url('/img/site/logo.png');
	background-size: cover;
}

.navigation > li {
	display: inline-block;
}

.navigation a {
	color: inherit;
}

.footer {
	padding: 4px;
	line-height: 1.5;
	color: inherit;
	font-weight: 600;
}

.footer a {
	color: inherit;
	font-weight: 500;
}

.site-content {
	display: flex;
	width: 100%;
	flex-direction: row;
	gap: 6px;
}

.site-content .content {
	width: 100%;
}

.sidebar {
	width: 325px;
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.search-box {
	padding: 5px;
	background-color: #212121;
}

.search-bar .form-control {
	display: inline-block;
	margin: 0;
	vertical-align: middle;
	padding: 5px;
	background-color: #262626;
}

.form-control {
	width: 100%;
	border: 1px solid #000;
	background-color: #212121;
	font-family: inherit;
	font-size: 10px;
	padding: 2px;
	color: #fff;
}

.padding {
	padding: 5px;
}

.note {
	color: #929191;
	font-size: 9px;
	margin-top: 3px;
	margin-bottom: 3px;
}

.right-align {
	float: right;
}

.btn {
	border: 1px solid #000;
	background: #212121;
	padding: 3px;
	color: #fff;
	text-shadow: 0 1px 0 #000;
	font-family: inherit;
}

.btn:hover {
	background: #3D3D3D;
	cursor: pointer;
}

.btn:active {
	background: #4d4d4d;
}

.button-label {
	font-weight: 600;
	vertical-align: middle;
	color: #fff;
}

.icon {
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: middle;
}

.inherit-color {
	color: inherit;
}

.note a {
	color: rgb(199, 199, 199);
}

.icon-mag {
	background: url('/icons/mag.png');
}

.icon-home {
	background: url('/icons/house.png');
}

.icon-email {
	background: url('/icons/email.png');
}

.icon-bell {
	background: url('/icons/bell.png');
}

.icon-user {
	background: url('/icons/user.png');
}

.icon-user-comment {
	background: url('/icons/user_comment.png');
}

.icon-controller {
	background: url('/icons/controller.png');
}

.icon-user {
	background: url('/icons/user.png');
}

.icon-games {
	background: url('/icons/joystick.png');
}

.sidebar-navigation li {
	padding: 4px;
	border-bottom: 1px solid #000;
}

.sidebar-navigation a {
	text-decoration: none;
	color: inherit;
}

.navigation {
	border-bottom: 0;
}

.sidebar-nav-label {
	vertical-align: middle;
}

.selected {
	font-weight: 600;
}

.label--normal {
	font-weight: 500;
}

.flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-col {
	flex-direction: column;
}

.flex-gap {
	gap: 6px;
}

.w-full {
	width: 100%;
}

.grid {
	display: grid;
}

.grid-row-3 {
	grid-template-columns: repeat(auto-fill, minmax(117px, 1fr));
}

.grid-row-2 {
	grid-template-columns: repeat(auto-fill, minmax(85px, 1fr));
}

.game-tile {
	width: 100%;
}

.game-tile .flex {
	gap: 2px;
}

.game-cover {
	border: 1px solid #000;
	margin-bottom: 2px;
}

.featured-games {
	padding: 8px;
	gap: 8px;
}

.label-primary {
	color: #fff;
}

.label-secondary {
	color: #999;
}

.space-between {
	justify-content: space-between;
}

.content {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.featured-mods > .flex {
	padding: 6px;
}

.project-preview {
	width: 100%;
	height: 95px;
	max-width: 121px;
	border: 1px solid #000;
}

.list-column + .list-column {
	border-top: 1px solid #000;
}

.mod-metadata {
	line-height: 1.3;
}

.td-none:hover {
	text-decoration: none;
}