<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta charset="UTF-8">
            <link rel="stylesheet" href="/css/base.css">
            <title>[grapemod] | Home</title>
        {% endblock %}
    </head>
    <body>
        {% block site_container %}
            <div class="site-body">
                {% include 'header.twig' %}

                <div class="site-content">
                    {% include 'sidepanel.twig' %}
                    {% block main_content %}{% endblock %}
                </div>

                {% include 'footer.twig' %}
            </div>
        {% endblock %}
    </body>
</html>