<div class="box footer">
    <span class="copyright-text">[grapemod.] | 2022</span><br>
    <a href="#"><span>Help</span></a> <span>|</span> <a href="#"><span>Contact</span></a> <span>|</span> <a href="#"><span>FAQ</span></a>
</div>