{% extends "base.twig" %}

{%- block main_content -%}
<div class="box" style="width: 100%;">
    <div class="box-title">
        All Mods on GrapeMod

        <a href="/create_content">
            <button class="right-align btn">
                Upload Mod
            </button>
        </a>
    </div>
    <div class="grid grid-row-3 featured-games">
        {% set game_i = -1 %}
        {% for emblem in emblems %}
            {% set game_i = game_i + 1 %}
            <div class="game-tile">
                <a href="/search?category={{ emblem|remove_extension() }}">
                    <div class="flex flex-col">
                        <img class="game-cover" src="/img/gametiles/{{ emblem }}">
                        <b class="label-primary">{{ emblem|remove_extension() }}</b>
                        <span class="label-secondary">{{ game_count[game_i][1] }} Mods</span>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}