{% extends "base.twig" %}

{%- block main_content -%}
   <div class="content">
				<div class="box">
					<div class="box-title">
						Featured Games
						<button onclick=";window.location.href=this.getAttribute('href');return false;" href="/games" class="btn">
							View All
						</button>
					</div>
					<div class="grid grid-row-3 featured-games">
						<div class="game-tile">
							<a href="/mods/minecraft">
								<div class="flex flex-col">
									<img class="game-cover cover-large" src="/img/gametiles/counterstrike16.png">
									<b class="label-primary">Counter Strike: 1.6</b>
									<span class="label-secondary">0 Mods</span>
								</div>
							</a>
						</div>
						<div class="game-tile">
							<a href="/mods/minecraft">
								<div class="flex flex-col">
									<img class="game-cover" src="/img/gametiles/grandtheftautosanandreas.png">
									<b class="label-primary">Grand Theft Auto: San Andreas</b>
									<span class="label-secondary">0 Mods</span>
								</div>
							</a>
						</div>
						<div class="game-tile">
							<a href="/mods/minecraft">
								<div class="flex flex-col">
									<img class="game-cover" src="/img/gametiles/halflife.png">
									<b class="label-primary">Half-Life</b>
									<span class="label-secondary">0 Mods</span>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="box">
					<div class="box-title">Featured Mods</div>
					<div class="flex flex-col featured-mods">
						<div class="flex flex-gap list-column">
							<img class="project-preview" src="https://i1.sndcdn.com/avatars-000023440200-orwnp2-t500x500.jpg">
							<div class="w-full">
								<div class="mod-metadata">
									<div><a class="td-none" href="/modpage"><h3 class="mod-title label-primary">Hi i'm Saul Goodman</h3></a></div>
									<a href="#"><span class="label-secondary">By</span> <b class="label-primary">Saul Goodman</b></a>
									<div class="label-secondary">
										<span>Created on March 26, 2022</span>
									</div>
								</div>
								<div class="mod-description">
									<p>Hello, i'm Saul Goodman. Did you know you have rights?</p>
								</div>
							</div>
						</div>
						<div class="flex flex-gap list-column">
							<img class="project-preview" src="https://i1.sndcdn.com/avatars-000023440200-orwnp2-t500x500.jpg">
							<div class="w-full">
								<div class="mod-metadata">
									<div><a class="td-none" href="/modpage"><h3 class="mod-title label-primary">Hi i'm Saul Goodman</h3></a></div>
									<a href="#"><span class="label-secondary">By</span> <b class="label-primary">Saul Goodman</b></a>
									<div class="label-secondary">
										<span>Created on March 26, 2022</span>
									</div>
								</div>
								<div class="mod-description">
									<p>Hello, i'm Saul Goodman. Did you know you have rights?</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
{% endblock %}