{% extends "base.twig" %}

{%- block main_content -%}
    <div class="box content">
        <h1 class="box-title">
            Welcome to GrapeMod
        </h1>
        <div class="box-inner padding">

        </div>
    </div>
{% endblock %}