<div class="sidebar">
    <div class="box search-box">
        <div class="search-bar">
            <form autocomplete="off" method="get" action="/search">
            <input name="name" class="form-control" type="text" placeholder="Search..." value="">
            </form>
        </div>
    </div>
    <div class="box navigation">
        <h3 class="box-title">Navigation</h3>
        <ul class="sidebar-navigation">
            <a href="/"><li class="selected"><span class="icon icon-home"></span> <span class="sidebar-nav-label">Home</span></li></a>
            <a href="/games"><li><span class="icon icon-controller"></span> <span class="sidebar-nav-label">Games</span></li></a>
            <a href="#"><li><span class="icon icon-bell"></span> <span class="sidebar-nav-label">Notifications</span></li></a>
            <a href="/pms"><li><span class="icon icon-email"></span> <span class="sidebar-nav-label">Messages</span></li></a>
            <a href="/"><li><span class="icon icon-user"></span> <span class="sidebar-nav-label">Profile</span></li></a>
        </ul>
    </div>
</div>