<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/styles/viagra.css">
	<title>[viagranet.] | Home</title>
</head>

<body>
    <div class="site-body">
        <div class="header-content">
            <header class="box header header-transparent">
                <div class="header-banner">
                    <div class="header-banner-content">
                        <span class="logo"></span>
                        <ul class="navigation">
                            <li><a href="/index.html">Home</a></li>
                            <span>|</span>
                            <li><a href="#">Groups</a></li>
                            <span>|</span>
                            <li><a href="/people.html">Users</a></li>
                        </ul>
                    </div>
                </div>
                <div class="header-bar">
                    <ul class="navigation">
                        <li><b>What's Good,</b></li>
                        <li><a href="/user.html">username</a></li>
                    </ul>
                    <ul class="navigation">
                        <li><a href="#">Notifications (1)</a></li>
                        <span> | </span>
                        <li><a href="/settings.html">Settings</a></li>
                        <span> | </span>
                        <li><a href="#">Sign Out</a></li>
                    </ul>
                </div>
            </header>
        </div>
        <div class="site-content">
            <div class="sidebar">
                <div class="box search-box">
                    <div class="search-bar">
                        <input class="form-control" type="text" placeholder="Search..." value="">
                    </div>
                </div>
                <div class="box navigation">
                    <h3 class="box-title">Navigation</h3>
                    <ul class="sidebar-navigation">
                        <a href="#"><li class="selected"><span class="icon icon-home"></span> <span class="sidebar-nav-label">Home</span></li></a>
                        <a href="#"><li><span class="icon icon-bell"></span> <span class="sidebar-nav-label">Notifications</span></li></a>
                        <a href="#"><li><span class="icon icon-email"></span> <span class="sidebar-nav-label">Messages</span></li></a>
                        <a href="#"><li><span class="icon icon-user"></span> <span class="sidebar-nav-label">Profile</span></li></a>
                    </ul>
                </div>
            </div>
            <div class="box content">
                <h1 class="box-title">
                    What's Happening Today
                </h1>
                <ul class="user-row recent-messages">
                    <li>
                        <div class="message">
                            <img src="/assets/img/misc/placeholder.jpeg" class="pfp">
                            <div class="message-content">
                                <div class="message-user-info"><div><b class="user-nickname">molotov</b> <span class="username">@molotov</span></div><span class="text-secondary">March 10, 2022</span></div>
                                <div class="message-text">
                                    <p>I say right foot</p>
                                    <div class="image-preview">
                                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRr1SccNT8PrsaTHxBerBrW6KmZ_faMOI3s5A&usqp=CAU">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="message">
                            <img src="/assets/img/misc/placeholder.jpeg" class="pfp">
                            <div class="message-content">
                                <div class="message-user-info"><div><b class="user-nickname">molotov</b> <span class="username">@molotov</span></div><span class="text-secondary">March 10, 2022</span></div>
                                <div class="message-text">
                                    <p>I say right foot. I say right foot. I say right foot. I say right foot. I say right foot. I say right foot. I say right foot. I say right foot. I say right foot. I say right foot. I say right foot. I say right foot. I say right foot. I say right foot. I say right foot. I say right foot. I say right foot.</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="message">
                            <img src="/assets/img/misc/placeholder.jpeg" class="pfp">
                            <div class="message-content">
                                <div class="message-user-info"><div><b class="user-nickname">molotov</b> <span class="username">@molotov</span></div><span class="text-secondary">March 10, 2022</span></div>
                                <div class="message-text">
                                    <p>Cool website <a href="#">https://www.youtube.com/</a></p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="box footer">
            <span class="copyright-text">[viagranet.] | 2022</span><br>
            <a href="#"><span>Help</span></a> <span>|</span> <a href="#"><span>Contact</span></a> <span>|</span> <a href="#"><span>FAQ</span></a>
        </div>
    </div>
</body>

</html>